{% extends 'base.html' %}
{% block content %}

<h1>Instrument Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ instrument.make }}</span>
    <p>Model: {{ instrument.model }}</p>
    <p>Year: {{ instrument.year }}</p>
    <p>Description: {{instrument.description}}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'instruments_update' instrument.id %}">Edit</a>
    <a href="{% url 'instruments_delete' instrument.id %}">Delete</a>
  </div>
</div>

{% endblock %}